<section class="front-whatis">
  <div class="section-header">
    <h2>What is debating?</h2>
    <p>It's a bird species! Just kidding.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 whatis-description">
        <p>For many people, debating sounds like uncontrolled and unstructured yelling and aggressive arguing that leaves everyone annoyed.
          This might be the case when debating with friends and family, but formal debating is something else.
          It could rather be viewed as an academic sport aiming at the discussion of a controversial topic in a way that brings out many different points of view to the issue.
          At the same time it offers the possibility for people to compete in a safe environment in the many aspects of debate, with the many skills one can develop with debating.
          Perhaps the most important feature that distinguishes formal debating from everyday quarreling is that the sides of the issues are randomly drawn so that people don’t necessarily end up arguing for things they actually believe.
          Therefore the skill of seeing many sides to an issue is of great importance, and one has to be able to question one’s own opinions – you never know when you might have to represent a completely different one! </p>
      </div>
      <div class="col-md-6">
        <div class="container  hierarchy">
          <div class="row">
            <div class="col-8 left">refuting the central point</div>
            <div class="col-1"></div>
            <div class="col-3 right">explicitly refutes the central point</div>
          </div>
          <div class="row">
            <div class="col-7 left">refutation</div>
            <div class="col-1"></div>
            <div class="col-4 right">finds the mistake and explains why it's mistaken using quotes</div>
          </div>
          <div class="row">
            <div class="col-6 left">counterargument</div>
            <div class="col-1"></div>
            <div class="col-5 right">contradicts and then backs it up with reasoning and/or supporting evidence</div>
          </div>
          <div class="row">
            <div class="col-5 left">contradiction</div>
            <div class="col-1"></div>
            <div class="col-6 right">states the opposing case with little or no supporting evidence</div>
          </div>
          <div class="row">
            <div class="col-4 left">responding to tone</div>
            <div class="col-1"></div>
            <div class="col-7 right">criticizes the tone of the writing without addressing the substance of the argument</div>
          </div>
          <div class="row">
            <div class="col-3 left">ad hominem</div>
            <div class="col-1"></div>
            <div class="col-8 right">attacks the characteristics or authority of the writer without addressing the substance of the argument</div>
          </div>
          <div class="row">
            <div class="col-2 left">name-calling</div>
            <div class="col-1"></div>
            <div class="col-9 right">"You are an ass hat.”</div>
          </div>
        </div>
        <p>Graham’s Hierarchy of Disagreement</p>
      </div>
    </div>
  </div>
</section>
