<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }} - {{ .Params.Title }}</title>
    <meta property="og:title" content="{{ $.Site.Title }} - {{ .Params.Title }}" />
    <meta property="og:url" content="https://tamperedebatesociety.fi" />
    <meta name="description" content="{{ .Params.description }}">
    <meta property="og:description" content="{{ .Params.description }}">
    <meta property="og:image" content="favicons/favicon-128.png">

    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="stylesheet" href="css/main.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <link rel="favicons/apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="favicons/apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="favicons/apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="favicons/apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="favicons/apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="favicons/apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="favicons/apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="favicons/apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Tampere Debate Society"/>
    <meta name="favicons/msapplication-TileColor" content="#FFFFFF" />
    <meta name="favicons/msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="favicons/msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="favicons/msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="favicons/msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="favicons/msapplication-square310x310logo" content="mstile-310x310.png" />

  </head>
  <body>

    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer src="app.js"></script>
  </body>
</html>
