<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>
  
  <meta property="og:title" content="{{ $.Site.Title }} - {{ .Params.Title }}" />
  <meta property="og:url" content="https://tamperedebatesociety.fi" />
  <meta name="description" content="{{ .Params.meta_description }}">
  <meta property="og:description" content="{{ .Params.meta_description }}">
  <meta property="og:image" content="favicons/favicon-128.png">
  
  <script defer
          src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
          integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
          crossorigin="anonymous">
  </script>
  
  <link rel="canonical" href="{{ .Permalink }}"/>
  <link rel="favicons/apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="favicons/apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="favicons/apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="favicons/apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="favicons/apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
  <link rel="favicons/apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="favicons/apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
  <link rel="favicons/apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="favicons/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Tampere Debate Society"/>
  <meta name="favicons/msapplication-TileColor" content="#FFFFFF" />
  <meta name="favicons/msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="favicons/msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="favicons/msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="favicons/msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="favicons/msapplication-square310x310logo" content="mstile-310x310.png" />

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
  
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1293313,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>

<body>

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
