<section class="steps">
  <div class="container">
    <div class="section-header">
      <h2>I'm not clicking that. It's suspicious.</h2>
      <p>Allright, allright. Have a TL;DR:</p>
    </div>
    <div class="row">
      {{ range (where .Site.Pages "Section" "debating-steps").ByParam "rank" }}
      <div class="col-md-4 icon-element">
        <p class="number">{{ .Params.Rank }}</p>
        <h3>{{ with .Params.Title }}{{ . | safeHTML }}{{ end }}</h3>
        {{ .Content }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
