{{ define "main" }}

<section class="debating first-section">
  <div class="container">
    <h1>{{ .Params.hero_title }}</h1>
    <div class="row">
      <div class="col-md-4 icon-element download-pdf">
        {{ with .Params.guide_pdf }}
        {{ $pdfResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        <a href="{{ $pdfResource.RelPermalink }}" target="_blank"></a>
        {{ end }}
        <a href="pdf/Guide.pdf">
        <i class="fas fa-file-pdf fa-5x"></i>
        <h2>{{ .Params.guide_title }}</h2>
        <p>{{ .Params.guide_subtitle }}</p>
        </a>
      </div>
      <div class="col-md-8">
        {{ .Params.hero_description | markdownify }}
      </div>
    </div>
  </div>
</section>

{{ partial "debating/debating-steps.html" . }}

{{ partial "debating/debating-presentations.html" . }}

{{ end }}
