<footer>
  <div class="container">
    <div class="row">
      {{ $headless := .Site.GetPage "/headless_data" }}
      {{ $reusablePages := $headless.Resources.GetMatch (strings.TrimPrefix "/headless_data/" "footer.md" ) }}
      <div class="col-md-4 footer-cell">
        <h3>{{ $reusablePages.Params.left_title }}</h3>
        {{ $reusablePages.Params.left_content | markdownify }}
      </div>
      <div class="col-md-4 footer-cell">
        <h3>{{ $reusablePages.Params.center_title }}</h3>
        {{ $reusablePages.Params.center_content | markdownify }}
      </div>
      <div class="col-md-4 footer-cell">
        <h3>{{ $reusablePages.Params.right_title }}</h3>
        {{ $reusablePages.Params.right_content | markdownify }}
      </div>
    </div>
  </div>
</footer>
