{{ define "main" }}

<section class="events-hero">
  <div class="container">
    <h1 id="upcoming-title">Upcoming events</h1>
    <h1 class="hidden" id="past-title">Past events</h1>
    <div class="event-button-container">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary event-buttons event-active" id="button-left" onclick="activateUpcoming()">Upcoming</button>
        <button type="button" class="btn btn-primary event-buttons" id="button-right" onclick="activatePast()">Past</button>
      </div>
    </div>
    <div class="row event-card-list" id="upcoming-events">
      {{ range ((.Data.Pages).ByParam "eventdate") }}
        {{ if (time .Params.eventdate).After now }}
          {{ partial "events/events-card.html" . }}
        {{ end }}
      {{ end }}
    </div>
    <div class="row event-card-list hidden" id="past-events">
      {{ range ((.Data.Pages).ByParam "eventdate").Reverse }}
        {{ if (time .Params.eventdate).Before now }}
          {{ partial "events/events-card.html" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <script>
    function activateUpcoming() {
      document.getElementById("button-left").classList.add("event-active");
      document.getElementById("button-right").classList.remove("event-active");
      document.getElementById("upcoming-events").classList.remove("hidden");
      document.getElementById("past-events").classList.add("hidden");
      document.getElementById("upcoming-title").classList.remove("hidden");
      document.getElementById("past-title").classList.add("hidden");
    }

    function activatePast() {
      document.getElementById("button-left").classList.remove("event-active");
      document.getElementById("button-right").classList.add("event-active");
      document.getElementById("upcoming-events").classList.add("hidden");
      document.getElementById("past-events").classList.remove("hidden");
      document.getElementById("upcoming-title").classList.add("hidden");
      document.getElementById("past-title").classList.remove("hidden");
    }
  </script>
</section>

{{ end }}
