{{ define "main" }}

<section class="events-hero first-section last-section">
  <div class="container">
    <h1 id="upcoming-title">Upcoming events</h1>
    <h1 class="hidden" id="past-title">Past events</h1>
    <div class="event-button-container">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary event-buttons event-active" id="button-left" onclick="activateUpcoming()">Upcoming</button>
        <button type="button" class="btn btn-primary event-buttons" id="button-right" onclick="activatePast()">Past</button>
      </div>
    </div>
    <div class="row event-card-list" id="upcoming-events">
      {{ range ((.Data.Pages).ByParam "eventdate") }}
        {{ if (time .Params.eventdate).After now }}
          {{ partial "events/events-card.html" . }}
        {{ end }}
      {{ end }}
      <div class="event-card col-lg-6">
        <div class="event-card-inner">
          <img class="event-card-img" src="/images/everytuesday.png" alt="Every Tuesday. 5 PM.">
          <div class="event-card-content">
            <h2>Debate evening</h2>
            <p>(Recurring)</p>
            <p>On most Tuesdays we have a debate in the usual place: Pinni B 5078 at 5pm. After this we’ll go for a cold one in O’Connels. All new and old debaters are welcome!</p>
          </div>
          <a class="btn btn-primary link-button" href="https://facebook.com/groups/tamperedebatesociety" target="_blank" role="button">Read more</a>
        </div>
      </div>
    </div>
    <div class="row event-card-list hidden" id="past-events">
      {{ range ((.Data.Pages).ByParam "eventdate").Reverse }}
        {{ if (time .Params.eventdate).Before now }}
          {{ partial "events/events-card.html" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <script>
    function activateUpcoming() {
      document.getElementById("button-left").classList.add("event-active");
      document.getElementById("button-right").classList.remove("event-active");
      document.getElementById("upcoming-events").classList.remove("hidden");
      document.getElementById("past-events").classList.add("hidden");
      document.getElementById("upcoming-title").classList.remove("hidden");
      document.getElementById("past-title").classList.add("hidden");
    }

    function activatePast() {
      document.getElementById("button-left").classList.remove("event-active");
      document.getElementById("button-right").classList.add("event-active");
      document.getElementById("upcoming-events").classList.add("hidden");
      document.getElementById("past-events").classList.remove("hidden");
      document.getElementById("upcoming-title").classList.add("hidden");
      document.getElementById("past-title").classList.remove("hidden");
    }
  </script>
</section>

{{ end }}
