html {
  height: 100%; }

section,
footer {
  padding: 128px 0; }

body {
  font-size: 1em;
  text-align: justify;
  min-height: 100%;
  color: #0b0b1d;
  margin: 0; }

.front-hero {
  background: center no-repeat;
  background-size: cover; }
  .front-hero .jumbotron {
    text-align: center;
    opacity: .8; }

.icon-element {
  margin-bottom: 48px;
  text-align: center; }

.section-header {
  margin-bottom: 64px;
  text-align: center; }

.front-join, .front-people, .front-skills {
  padding-top: 0; }

.flex-container {
  display: flex; }
  .flex-container .flex-inner {
    display: flex;
    flex-direction: column; }

.event-card {
  margin-bottom: 48px; }
  .event-card .event-card-content {
    text-align: center;
    border: 2px #0b0b1d solid;
    border-radius: 0 10px 10px 0;
    border-left: none;
    padding: 12px; }
    .event-card .event-card-content .linkbutton {
      background-color: #0b0b1d;
      border: 1px #0b0b1d solid;
      width: 120px;
      margin: 0 auto 12px auto; }
      .event-card .event-card-content .linkbutton:hover {
        background-color: transparent;
        color: #0b0b1d; }
  .event-card .event-card-img {
    border-radius: 10px 0 0 10px;
    min-height: 200px;
    background: no-repeat;
    background-size: cover; }

.front-whatis .whatis-description {
  text-align: justify; }

.front-whatis .right, .front-whatis .left {
  font-size: .71em;
  padding: 8px;
  margin: 2px 0; }

.front-whatis .right {
  color: #fff;
  background-color: #0b0b1d;
  text-align: right;
  border-radius: 10px 0 0 10px; }

.front-whatis .left {
  text-align: left;
  border: 2px #0b0b1d solid;
  border-radius: 0 10px 10px 0; }

.front-whatis .hierarchy {
  margin-bottom: 12px; }

.navbar {
  background-color: #0b0b1d; }
  .navbar .navbar-brand {
    font-size: 1.75em;
    text-align: center; }
    .navbar .navbar-brand .brand-text {
      font-family: "Graduate", serif;
      float: right;
      color: #0b0b1d;
      margin-left: -48px; }
    .navbar .navbar-brand .brand-img {
      height: 80px; }
  .navbar .nav-link {
    font-family: "Graduate", serif; }
    .navbar .nav-link:hover {
      color: #0b0b1d; }

.smallcontainer {
  max-width: 576px; }
  .smallcontainer p {
    text-align: justify; }

h1, h2, h3 {
  font-family: "Graduate", serif;
  text-align: center; }

p, div {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.5px; }

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0b0b1d;
  color: white;
  text-align: center; }
  footer .row {
    margin-bottom: 64px; }

@media (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 1.25em;
    text-align: center; }
    .navbar .navbar-brand .brand-text {
      float: right;
      color: #0b0b1d;
      margin-left: -36px; }
    .navbar .navbar-brand .brand-img {
      height: 60px; }
  .event-card .event-card-content {
    border: 2px #0b0b1d solid;
    border-radius: 0 0 10px 10px; }
  .event-card .event-card-img {
    border-radius: 10px 10px 0 0; } }
