.about {
  padding-bottom: 0;
}

.about-icon, .about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  h2 {
    text-align: left;
  }
}

.about-segment {
  padding-bottom: 4rem;
}

@media (max-width: 767px) {
  .about-icon {
    margin-bottom: 2rem;
  }
  .about-text {
    h2 {
      text-align: center;
    }
  }
}
