$montserrat: 'Montserrat', sans-serif;
$montserrat-bold: 'Montserrat-Bold', sans-serif;
$graduate: 'Graduate', serif;
$theme-color: #fa5a06;
$dark-color: #1B1B42;
$dark-color-transparent: #1B1B42cc;
$light-color: #aaa;
$white-color-transparent: #ffffffcc;
$white-color: #fff;


@font-face {
  font-family: Montserrat-Bold;
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Graduate;
  src: url('/fonts/Graduate-Regular.ttf') format('truetype');
}
