@import "constants";
@import "navbar";
@import "footer";
@import "front";
@import "about";
@import "events";
@import "debating";
@import "contact";

html, body {
  height: 100%;
}

section {
  padding: 128px 0;
}

body {
  font-size: 1em;
  text-align: justify;
  min-height: 100%;
  color: $dark-color;
  margin: 0;
}

.section-header {
  margin-bottom: 64px;
  text-align: center;
}

.front-join, .front-people, .front-skills, .steps, .about-segment {
  padding-top: 0;
}

h1 {
  margin-bottom: 48px;
}

h1, h2, h3 {
  font-family: $graduate;
  text-align: center;
}

p, div {
  font-family: $montserrat;
}

.hidden {
  display: none;
}

.not-found {
  padding: calc(3.25rem + 8rem) 0 8rem;
}